[Unit]
Description=The web-based media extraction and conversion tool powered by FFmpeg
Documentation=https://github.com/gnh1201/ffmpeg-api
After=network.target

[Service]
Type=simple
User=ffmpegapi
Group=ffmpegapi
WorkingDirectory=/home/ffmpegapi
ExecStart=/usr/local/bin/node app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
